<%- @artifacts.each do |artifact| %>
  <div class="artifacts">
    <%= link_to image_tag(artifact.image_url.to_s), artifact %>
    <br/>
    <strong><%= artifact.title %> by <%= artifact.artist %>
  </div>
<% end %>
