<!DOCTYPE html>
<html>
<head>
  <title>Baltimore Public Works</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">Baltimore Public Works</a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class"span12">
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
